* {
  box-sizing: border-box; /* réinitialise le modèle de boîte à border-box pour tous les éléments HTML*/
}
section {
  padding: 25px 15px;
}  
body {
  line-height: 1.5;
  scroll-behavior: smooth;
  background-color: #f0f0f0;
}