/*display:flex et flex-direction:column*/

@mixin dflex_col {
    display: flex;
    flex-direction: column;
  }

//header hands say hi
@mixin back {
  animation: shake 2.2s infinite;
  font-size: 2em;
}

@mixin shakeHome {
  @keyframes shake {
    0% {
      transform: rotate(-8deg);
    }
    8% {
      transform: rotate(8deg);
    }
    16% {
      transform: rotate(-8deg);
    }
    24% {
      transform: rotate(8deg);
    }
    32% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(8deg);
    }
    48% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(0);
    }
  }
}