$dark-grey: #023356 ;
$courbe: cubic-bezier(
  0.39,
  0.575,
  0.28,
  0.995
); //pour l'appartition des bulles icones - utilisation dans les animations

/* Color Theme Swatches in HSLA */
$Explosion-of-colored-1-hsla: hsla(331, 60, 46, 1);
$Explosion-of-colored-2-hsla: hsla(44, 96, 43, 1);
$Explosion-of-colored-3-hsla: hsla(28, 96, 48, 1);
$Explosion-of-colored-4-hsla: hsla(0, 68, 51, 1);
$Explosion-of-colored-5-hsla: hsla(0, 0, 5, 1);

/* Color Theme Swatches in HSLA */
$Colored-powder-explosion-1-hsla: hsla(326, 88, 34, 1);//underline
$Colored-powder-explosion-2-hsla: hsla(219, 78, 47, 1);//text
$Colored-powder-explosion-3-hsla: hsla(50, 94, 43, 1);
$Colored-powder-explosion-4-hsla: hsla(39, 90, 44, 1);
$Colored-powder-explosion-5-hsla: hsla(0, 0, 5, 1);