$dark-grey: #023356 ;
$courbe: cubic-bezier(
  0.39,
  0.575,
  0.28,
  0.995
); //pour l'appartition des bulles icones - utilisation dans les animations
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;