@import "./main.scss";

html {
  color: $mini-text;
}
section,
header {
  background-color: $background-1;
}

.contacts-page {
  font-size: 14px;
  line-height: 1.5rem;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  padding: 5rem 2.5rem 0;
  background-color: $background-1;
  @media only screen and (min-width: 576px) {
    flex-flow: row nowrap;
  }
}

.contacts-page-col {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  @media only screen and (min-width: 576px) {
    flex-direction: row;
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
  }
}
.contacts-page-col:first-of-type {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  padding-bottom: 10vh;
  margin-bottom: 10vh;
}

.contacts-page-col:nth-of-type(2) {
  padding-left: 0;
}

.contacts-page-title {
  position: relative;
  overflow: hidden;
}

.contacts-page-col h1 {
  font-size: 3rem;
  line-height: 4rem;
  padding: 10vh 0;
  min-height: inherit;
  color: $big-text;
  font-weight: 400;
}

//buttons actions
.contacts-page-actions {
  width: 100%;
  justify-content: space-between;
  position: relative;
  display: flex;
  align-items: baseline;
  flex-flow: row nowrap;
  overflow: hidden;
}

.contacts-page-button {
  padding: 0.5rem;
  cursor: pointer;
  line-height: 2.5rem;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.contacts-page-button:first-of-type {
  margin-left: 0;
}
.contacts-page__actions .contacts-page__button {
  margin-left: 3.125vw;
}
.contacts-page-button span::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  content: "";
  transform-origin: 50% 100%;
  transform: scaleY(0.0277);
  transition: -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
    -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.contacts-page-button span {
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  display: block;
  color: $big-text;
  transition: color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.25s;
}

//contact address
.contacts-page-address {
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  outline: none;
  position: relative;
  margin-bottom: 3vw;
  margin-left: 3vw;
  flex-basis: 100%;
  @media only screen and (min-width: 992px) {
    flex-basis: 20%;
  }
}
.contacts-page-col h2 {
  color: $big-text;
}
h2,
P {
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 0.625rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}
.contacts-page-address a {
  position: relative;
  color: $big-text;
  text-decoration: none;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.contacts-page-address a::after {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 0;
  right: 0;
  height: 1px;
  background-color: red;
  transform-origin: 0 0;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.contacts-page-address a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

//form
#form,
#more-contact,
#plane {
  outline: none;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 2.5rem 0;
}

//button send a form
.form-send {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  height: 3.5rem;
  width: 15rem;
  padding: 0 2.5rem 0 1.375rem;
  border: 0;
  border-radius: 1.75rem;
  color: black;
  background: white;
  cursor: pointer;
  overflow: hidden;
}

.text {
  position: relative;
  height: 3.5rem;
  width: 6rem;
  white-space: nowrap;
  font-size: 1rem;
}

.text::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  content: "Envoyer le message";
  animation: textAnimation 10s infinite;
}

.plane {
  font-size: 22px;
  animation: iconAnimation 10s infinite;
  margin-left: 0;
}

//button send a form

//motion path - paper plane
.planePath {
  stroke: #d9dada;
  stroke-width: 0.1%;
  stroke-width: 0.5%;
  stroke-dasharray: 1% 2%;
  stroke-linecap: round;
  fill: none;
}

.fil1 {
  fill: #d9dada;
}

.fil2 {
  fill: #c5c6c6;
}

.fil4 {
  fill: #9d9e9e;
}

.fil3 {
  fill: #aeafb0;
}

//motion path - paper plane
