@import "./main.scss";

//=============================>>
// CARDS DISCOVER TEXT ABOUT ME
//=============================>>
#container {
  background-color: $background-1;
}

#container h1 {
  color: $big-text;
  padding: 50px 40px 50px 40px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

#grid {
  max-width: 100%;
  margin: 0 auto;
  padding: 40;
  font-size: 0;
}

#grid li {
  display: inline-block;
  width: 25%;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gridCell {
  border: 3px solid $background-1;
  display: block;
  position: relative;
  overflow: hidden;
}

.gridImg {
  display: block;
  width: 100%;
  height: auto;
  border: none;
  transform: scale(1);
  transition: all 0.8s;
  filter: grayscale(100%);
}

#grid li:hover .gridImg {
  transform: scale(1.05);
  filter: grayscale(0%);
}

/* If have the overlay layer */
.gridOverlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #f4f4f4;
  background-size: 50px 50px;
  opacity: 0;
  transition: all 0.9s;
}

#grid li:hover .gridOverlay {
  opacity: 0.2;
}

.gridText {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  margin: auto;
  left: 0%;
  padding: 15px;
  background-color: $background-1;
  font-size: 18px;
  top: 0%;
  width: 100%;
  height: 100%;
  color: $mini-text;
  opacity: 0;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  transform: rotateX(-180deg);
  backface-visibility: hidden;
  transition: all 1.5s;
  text-align: center;
}

#grid li:hover .gridText {
  opacity: 1;
  transform: rotateX(0deg);
  transition: all 1.5s;
}

@media (max-width: 9000px) {
  #grid li {
    width: 33.33%;
  }
}

@media (max-width: 700px) {
  #grid li {
    width: 50%;
  }
}

@media (max-width: 550px) {
  #grid li {
    width: 100%;
  }
}
//=============================>>
// CARDS DISCOVER TEXT ABOUT ME
//=============================>>

//=============================>>
// SKILLS - ANIMATION RINGS
//=============================>>
h2.prefix {
    position: relative;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5rem;
    letter-spacing: .1rem;
    color: $green;
    text-align: center;
}

h2.prefix:before {
    content: attr(data-prefix);
    position: relative;
    left: 0;
    margin-right: 1rem;
      @media only screen and (min-width: 768px) {
            position: absolute;
            left: 5vw;
            transform: rotate(-180deg);
            writing-mode: vertical-lr;
            text-orientation: mixed;
            top: 0px;
            height: 300px;

      }
}

#container-2{
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
      @media only screen and (min-width: 768px) {
  flex-direction: row;
    height: 300px;
  }
}

.wrapper {
  position: relative;
  width: 200px;
  height: 200px;
}

.rail {
  position: absolute;
  width: 200px;
  height: 200px;
  fill: none;
  z-index: 1;
}

//largeur de la barre de progression animé
circle {
  stroke-width: 20;
  stroke-linecap: round;
  stroke-dashoffset: 0;
  animation: load 10s infinite;
}

.HTML{
  stroke: #27a4d8;
  stroke-dasharray:850 628;
}

.CSS{
  stroke: red;
  stroke-dasharray:800 628;
}

.JS{
  stroke: #efd81d;
  stroke-dasharray:650 628;
}

.Git{
    stroke: #e84d31;
  stroke-dasharray:720 628;
}

.GitHub{
      stroke: #1a1e22;
  stroke-dasharray:750 628;
}

.Figma{
      stroke: #f76e5f;
  stroke-dasharray:650 628;
}
.text-skills{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 50%;
  text-transform: uppercase;
  font-size: 0.825rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}
//=============================>>
// SKILLS - ANIMATION RINGS
//=============================>>