@import "./main.scss";

#container-3 {
  background-color: $background-1;
}

#container-3 h1 {
  color: $big-text;
  padding: 50px 40px 50px 40px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

#grid {
  max-width: 100%;
  margin: 0 auto;
  padding: 40;
  font-size: 0;
}
#grid li {
  display: inline-block;
  width: 25%;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gridCell {
  border: 3px solid $background-1;
  display: block;
  position: relative;
  overflow: hidden;
}

.gridImg {
  display: block;
  width: 100%;
  height: auto;
  border: none;
  transform: scale(1);
  transition: all 0.8s;
  filter: grayscale(100%);
}

#grid li:hover .gridImg {
  transform: scale(1.05);
  filter: grayscale(0%);
}

/* If have the overlay layer */
.gridOverlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #f4f4f4;
  background-size: 50px 50px;
  opacity: 0;
  transition: all 0.9s;
}
#grid li:hover .gridOverlay {
  opacity: 0.2;
}

.gridText {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  margin: auto;
  left: 0%;
  padding: 15px;
  background-color: $background-1;
  font-size: 18px;
  top: 0%;
  width: 100%;
  height: 100%;
  color: $mini-text;
  opacity: 0;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  transform: rotateX(-180deg);
  backface-visibility: hidden;
  transition: all 1.5s;
  text-align: center;
}
#grid li:hover .gridText {
  opacity: 1;
  transform: rotateX(0deg);
  transition: all 1.5s;
}

@media (max-width: 9000px) {
  #grid li {
    width: 33.33%;
  }
}

@media (max-width: 700px) {
  #grid li {
    width: 50%;
  }
}

@media (max-width: 550px) {
  #grid li {
    width: 100%;
  }
}
