@import "./main.scss";

//présentation
.titlepage {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  font-size: 1.7em;
  text-transform: uppercase;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  padding-bottom: 80px;
  margin-bottom: 220px;
  color: $darkGrey;
  padding-top: 0px;
  @media only screen and (min-width: 576px) {
    margin-bottom: 300px;
  }
}
.titlepage div div div h1 {
  margin-bottom: 30px;
}

//say hi
// .backHome {
//   @include back;
//   @include shakeHome;
// }
// .myPicture {
//   width: auto;
//   height: 100px;
//   padding: 4px;
//   border-radius: 50%;
//   background: linear-gradient(45deg, #20fce2, #0679df);
// }

//letter animation
.loader {
  margin-top: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  color: $green;
  transform: translate(-50%, -50%);
  &:after {
    content: "_";
  }
}
//letter animation

//scroll down
.center1 {
  margin-left: 90%;
}
.center2 {
  margin-right: 90%;
}
.center {
  cursor: pointer;
  position: absolute;
  z-index: 999;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-top: 10px;
    font-weight: bold;
    font-size: 0.425rem;
    text-transform: uppercase;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    color: $grey;
  }
}

.down {
  position: relative;
  width: 20px;
  height: 40px;
  border-radius: 25px;
  background: $green;
  border: 2px solid $darkGrey;
  overflow: hidden;
}

.down:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: transparent;
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0);
}

.down:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 15px;
  border-radius: 50%;
  background: $darkGrey;
  left: 50%;
  top: 5px;
  transform: translate(-50%, 0);
  border-radius: 3px;
  animation: scroll 3s linear infinite;
}
//scroll down

//services
.skills {
  margin-top: -1rem;
  padding-bottom: 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  h2 {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 130px;
    font-weight: normal;
    word-break: break-word;
    font-size: 1.2em;
    color: $big-text;
    text-transform: uppercase;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    background-color: $background-1;
  }
}

.global-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-1 {
  margin-top: -110px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
}
.skills-1,
.skills-2 {
  background-color: $background-2;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  h3 {
    font-weight: bold;
    padding: 15px 40px;
    font-size: 0.825rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    color: $grey;
  }
  .paint-icon {
    font-size: 3em;
    color: $green;
  }
  p {
    padding: 50px;
    color: $grey;
  }
}

//portfolio
.carousel {
    margin: 15%;
}

ul.slides {
    display: block;
    position: relative;
    height: 500px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: $green;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }


//service
#service {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: $background-1;
  h2 {
    text-transform: uppercase;
    color: $big-text;
  }
  ul {
    color: $mini-text;
    font-size: 0.625rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
  }
}

//counter-section
#counter {
  height: 550px;
  @media only screen and (min-width: 576px) {
    height: 250px;
  }
}
.paralax {
  position: relative;
  padding: 2rem;
}
.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.71);
}
.counter-container {
  position: relative !important;
}
.counter-row {
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  display: flex;
  @media only screen and (min-width: 576px) {
    flex-direction: row;
    justify-content: center;
  }
}
.counter-col {
  width: auto;
  @media only screen and (min-width: 576px) {
    width: 33%;
  }
}

.counter-box {
  text-align: center;
  margin: 2rem;
}
.counter-icon {
  margin-bottom: 30px;
}
.counter-icon span {
  height: 60px;
  width: 60px;
  line-height: 1.5rem;
  border-radius: 50%;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 0 4px white;
}
.counter-icon span i {
  color: white;
}
.counter-num p,
span {
  color: white;
}
//counter-section

//contact
.containter-contact {
  max-width: 1200px;
  width: auto;
  margin: 0 auto;
  flex-grow: 1;
}
.box-contact {
  border-radius: 12px;
  padding: 3.5rem 2rem;
  margin-top: -9rem;
  background-color: $background-1;
  box-shadow: 0 4px 4px hsl(0, 0%, 94%);
}
.col-contact {
  align-items: center;
  justify-content: space-between;
  margin: -0.75rem;
}
.title-contact {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  h2 {
    color: $big-text;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
    
  }
  p {
    text-align: center;
    color: $mini-text;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: .825rem;
  }
}
//contact
