@import "./main.scss";
// Cursor
//=============================>>
.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  $size: 20px;
  width: $size;
  height: $size;
  border: 2px solid $green;
}

.cursor-dot-outline {
  width: $size;
  height: $size;
  border: 2px solid #fff;
  box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}
// End of Cursor
//=============================>>

//=============================>>
// TITLE PAGE
//=============================>>
.titlepage {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 700;
  font-size: x-large;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  padding-bottom: 80px;
  text-transform: uppercase;
  color: $darkGrey;
  padding-top: 0px;
  height: 740px;
  @media only screen and (min-width: 768px) {
    height: 530px;
  }
}

.titlepage div div div h1 {
  margin-top: 60px;
}
//=============================>>
// TITLE PAGE
//=============================>>

//=============================>>
// LETTER ANIMATION
//=============================>>
.loader {
  margin-top: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  color: $green;
  transform: translate(-50%, -50%);
  &:after {
    content: "_";
  }
}
//=============================>>
// LETTER ANIMATION
//=============================>>

//=============================>>
// SCROLL DOWN
//=============================>>
.center1 {
  margin-left: 90%;
}

.center2 {
  margin-right: 90%;
}

.center {
  cursor: pointer;
  position: absolute;
  z-index: 999;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-top: 10px;
    font-weight: bold;
    font-size: 0.425rem;
    text-transform: uppercase;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    color: $grey;
  }
}

.down {
  position: relative;
  width: 20px;
  height: 40px;
  border-radius: 25px;
  background: $green;
  border: 2px solid $darkGrey;
  overflow: hidden;
}

.down:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: transparent;
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0);
}

.down:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 15px;
  border-radius: 50%;
  background: $darkGrey;
  left: 50%;
  top: 5px;
  transform: translate(-50%, 0);
  border-radius: 3px;
  animation: scroll 3s linear infinite;
}
//=============================>>
// SCROLL DOWN
//=============================>>

//=============================>>
// WORK SECTION
//=============================>>
.skills {
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin-top: 50px;
    @media only screen and (min-width: 768px) {
    width: 50%;
    margin-left: 40vw;
    margin-top: 130px;
    margin-right: auto;
    }
  h2 {
    overflow: hidden;
    margin-bottom: 34px;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0;
    font-weight: 700;
    margin-top: 0;
    padding-left: 3px;
    @media only screen and (min-width: 568px) {
        padding-left: 6px;
      }
  }
}

.skills-details{
    box-sizing: border-box;
    user-select: none;
    display: flex;
    width: 100%;
    margin-bottom: 13px;
    flex-direction: column;
    height: 65px;
}

.skills-line{
    display: flex;
    flex: 0 auto;
    margin-bottom: 13px;
}

.skills-title{
    width: 50%;
      h3{
      font-weight: 700;
      font-size: 21px;
      padding-left: 2px;
      color: #c92200;
      letter-spacing: -.3px;
      @media only screen and (min-width: 568px) {
        padding-left: 6px;
      }
      }
}

.skills-desc{
    flex: 1;
    align-self: auto;
    align-items: flex-end;
}

.skills-desc-txt{
    color: $mini-text;
    text-align: right;
    font-size: 0.625rem;
}

.skills-desc-line{
    width: 100%;
    height: 1px;
    background-color: $background-1;
}
//=============================>>
// END OF WORK SECTION
//=============================>>

//=============================>>
// MODAL
//=============================>>
.text {
display: flex;
justify-content: center;
align-items: center;
    @media only screen and (min-width: 768px) {
    width: 50%;
    margin-left: 40vw;
    margin-right: auto;
    }
}

.text article {
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
  display: flex;
  align-items: center;
  width: 13rem;
  height: 5.5rem;
  padding-left: 5.25rem;
  border-radius: 1rem;
  background: $background-2;
  cursor: pointer;
}

.background {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -230px;
  transform: translate(-3.5rem, -50%);
  width: 300px;
  height: 300px;
  background: $green;
  transition: 0.3s all;
}

.icon {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  z-index: 2;
  transform: translate(0.75rem, -50%);
  font-size: 1.5rem;
  transition: 0s all;
  visibility: hidden;
}

.content-modal {
  color: $darkGrey;
  text-transform: uppercase;
  line-height: 2.5rem;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.text article:hover .background {
  border-radius: 50%;
  transform: translate(0, -50%);
}

.text article:hover .icon {
  transform: translate(0, -50%);
  visibility: visible;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: $background-2;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid $grey;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: $background-1;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

//=============================>>
// END OF MODAL
//=============================>>

//=============================>>
// CARDS SERVICE
//=============================>>
.service{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-service h3{
  text-transform: uppercase;
  padding-left: $size;
  font-weight: 700;
  color: $darkGrey;
  font-size: large;
  line-height: 2rem;
  letter-spacing: 0.2rem;
}

.row-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      @media only screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items:stretch;
      }
}

.card-bg{
      padding: 24px;
      min-height: 300px;
      width: 300px;
        @media only screen and (min-width: 768px) {
        }
}

//les bordures
.card-right-line{
  position: absolute;
  left: auto;
  top: -1px;
  right: 0px;
  bottom: -1px;
  width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.vertical-line-fill{
    top: auto;
    left: 0px;
    right: 0px;
    z-index: 555;
    width: 100%;
    height: 24px;
    position: relative;
    background-color: $background-1;
}
.left{
  left: 0px;
  right: -1px;
}
.blank{
  position: relative;
  background-color: $background-1;
  opacity: 1;
  left: -1px;
  right: 0px;
}
.card-left-line{
    position: absolute;
    left: -1px;
    top: -1px;
    right: auto;
    bottom: -1px;
    display: flex;
    width: 1px;
    flex-direction: column;
    justify-content: space-between;
}

.card-bottom-line{
  position: absolute;
    left: -1px;
    top: auto;
    right: 1px;
    bottom: -2px;
    display: flex;
    height: 1px;
    justify-content: space-between;
    
}
.card-top-line{
  position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: auto;
    display: flex;
    height: 1px;
    justify-content: space-between;
}

.horizontal-line-fill {
    width: 24px;
    height: 90%;
    background-color: $background-1;
}


.card-bg{
  margin: 10px;
  position: relative;
}

.card-service {
  padding: 10px;
}

//=============================>>
// END OF CARDS SERVICE
//=============================>>

//=============================>>
// COUNTER SECTION
//=============================>>
#counter {
  height: 550px;
  // margin: 30px 0;
  // box-shadow: 0 5px 40px $background-1;
  @media only screen and (min-width: 576px) {
    height: 250px;
  }
}
.paralax {
  position: relative;
  padding: 2rem;
}
.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.71);
}
.counter-container {
  position: relative !important;
}
.counter-row {
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  display: flex;
  @media only screen and (min-width: 576px) {
    flex-direction: row;
    justify-content: center;
  }
}
.counter-col {
  width: auto;
  @media only screen and (min-width: 576px) {
    width: 33%;
  }
}

.counter-box {
  text-align: center;
  margin: 2rem;
}
.counter-icon {
  margin-bottom: 30px;
}
.counter-icon span {
  height: 60px;
  width: 60px;
  line-height: 1.5rem;
  border-radius: 50%;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 0 4px white;
}
.counter-icon span i {
  color: white;
}
.counter-num p,
span {
  color: white;
}
//=============================>>
// END OF COUNTER SECTION
//=============================>>

//=============================>>
// PORTFOLIO SLIDE
//=============================>>
.glide {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.glide__track {
  overflow: hidden;
  margin-bottom: 20px;
}
.glide__slides {
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
  display: flex;
}
.glide__slides--dragging {
  user-select: none;
}
.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: initial;
  user-select: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  @media only screen and (min-width: 576px) {
    height: 600px;
  }
}
.content img {
  border-radius: 15px 15px 0px 0px;
  max-height: auto;
  object-fit: cover;
  width: 100%;
  height: 70%;
  object-position: 60% 55%;
}
.content div h3 {
  color: $darkGrey;
  padding: 30px;
  text-transform: uppercase;
  font-size: 0.725rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn-contact-slide {
  padding-bottom: 80px;
}
.contact-slide {
  color: $big-text;
  background-color: $background-1;
}
//number of slides
.glide__bullets {
  user-select: none;
}
.glide--rtl {
  direction: rtl;
}
.glide__bullets {
  position: absolute;
  z-index: 2;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
  bottom: -1rem;
}
.glide__bullet {
  padding: 0;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  color: $darkGrey;
  line-height: 2.7em;
  width: 2.7em;
  height: 2.7em;
  border-radius: 0;
  &:hover,
  &:focus {
    border-bottom: 2px solid red;
    color: $green;
    transition-duration: 600ms;
  }
}

.glide__bullet--active {
  color: $green;
  border-bottom: 2px solid red;
}
.glide--swipeable {
  cursor: grab;
}
.glide--dragging {
  cursor: grabbing;
}

//slide active
.glide__slide--active {
  transform: scale(1.075);
  transition: all 0.1s ease;
}
//=============================>>
// END OF PORTFOLIO SLIDE
//=============================>>

//=============================>>
// CONTACT HOMEPAGE
//=============================>>
.containter-contact {
  max-width: 1200px;
  width: auto;
  margin: 50px auto;
  flex-grow: 1;
}
.box-contact {
  border-radius: 12px;
  padding: 3.5rem 2rem;
  background-color: $background-1;
  box-shadow: 0 4px 4px hsl(0, 0%, 94%);
}
.col-contact {
  align-items: center;
  justify-content: space-between;
  margin: -0.75rem;
}
.title-contact {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  h2 {
    color: $big-text;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
  }
  p {
    text-align: center;
    color: $mini-text;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 0.825rem;
  }
}
//=============================>>
// END OF CONTACT HOMEPAGE
//=============================>>

//=============================>>
// CITATION
//=============================>>
.citation{
    display: block;
    margin-top: auto;
    color: $grey;
    text-align: center;
    letter-spacing: 4px;
    text-decoration: none;
    cursor: crosshair;
}
//=============================>>
// END OF CITATION
//=============================>>