@import "./main.scss";

// Cursor
//=============================>>
.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
}

.cursor-dot {
    $size: 20px;
    width: $size;
    height: $size;
    border: 2px solid $green;
}

.cursor-dot-outline {
    width: $size;
    height: $size;
    border: 2px solid #fff;
	box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);

}
// End of Cursor
//=============================>>


header{
  background-color: $background-1;
}
$spacer: 1rem;
$fast: .3s;
$easing: cubic-bezier(.55, 0, .1, 1);

.super{
  background-color: $background-1;
  color: white;
  letter-spacing: .2rem;
  margin: 0px;
  overflow: hidden;
  text-transform: uppercase;
}

.panel-wrap{
  height: 390px;
}

.panel{
  h1{
    left: 50%;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    user-select: none;
      font-size: 2rem;
  margin-top: 50px;
  }
}

//view all
.panel__zoom{
  cursor: pointer;
  left: 50%;
  opacity: .2;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) translateY(-12vmin);
  transition: opacity $fast $easing;
  user-select: none;
  z-index: 10;
  margin-top: 60px;
  
  &:hover{
    opacity: 1;
  }
}

.panel__nav{
  cursor: pointer;
  opacity: .2;
  position: absolute;
  transition: opacity $fast $easing;
  user-select: none;
  will-change: opacity;
  font-size: 0.525rem;
  &--up{
    left: 50%;
    transform: translateX(-50%);
  }
  &--left{
    left: $spacer;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg) translateX(-100%);
    transform-origin: top left;
    margin-top: 50px;
  }
  &--left-top{
    left: $spacer;
  }
  &--left-down{
    bottom: $spacer;
    left: $spacer;
  }
  &--right{
    right: $spacer;
    top: 50%;
    transform: translateY(-50%) rotate(90deg) translateX(100%);
    transform-origin: top right;
    margin-top: 50px;
  }
  &--right-top{
    right: $spacer;
  }
  &--right-down{
    bottom: $spacer;
    right: $spacer;
  }
  &--down{
    bottom: $spacer;
    left: 50%;
    transform: translateX(-50%);
  }
  &:hover{
    opacity: 1;
  }
}

//nav titre projets
.projects-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5px;
  font-size: 0.625rem;
  left: 50%;
  position: absolute;
  top: 65%;
  transform: translateX(-50%) translateY(-50%) translateY(14vmin);
  span{
    cursor: pointer;
    opacity: .2;
    position: relative;
    transition: opacity $fast $easing;
    user-select: none;
    margin: 5px;
    //soulignement
    &:after{
      border-left: .3vmin solid transparent;
      left: -5px;
      content: "";
      position: absolute;
      transition: border-color $fast $easing;
      height: 100%;
    }    
    &.active,
    &:hover{
      opacity: 1;
      
      &:after{
        border-color: $green;
      }
    }
  }
}
a{
 color: $big-text;
}