//=============================>>
// FOOTER - ICONE SOCIAL
//=============================>>
@keyframes social {
 	0% { 
    width:0;
  }
  50% { 
    width:30px;
  }
  100% { 
    width: 70px;
  }
}
//=============================>>
// FOOTER - ICONE SOCIAL
//=============================>>

//=============================>>
// CONTACT PAGE - ANIMATION BUTTON SEND FORM
//=============================>>
@keyframes textAnimation {
  0% { transform: translate(0, -50%); }
  9% { transform: translate(0, -50%); content: "Envoyer le message"; }
  10% { transform: translate(0, -50%); content: "Envoi en cours ..."; }
  30% { transform: translate(0, -50%); }
  39.9% { transform: translate(0, 100px); }
  40% { transform: translate(300px, 100px); content: "Envoi en cours ..."; }
  40.1% { transform: translate(300px, -60px); content: "Envoyée"; }
  40.2% { transform: translate(33px, -60px); }
  45% { transform: translate(33px, -50%); }
  95% { transform: translate(33px, -50%); content: "Envoyée"; }
  100% { transform: translate(0, -50%); content: "Envoyer le message"; }
}

@keyframes iconAnimation {
  0% { transform: translate(0, 0) rotate(45deg);}
  10% { transform: translate(0, 0) rotate(45deg); }
  20% { transform: translate(-170px, 0)rotate(45deg); }
  30% { transform: translate(-170px, 0) rotate(45deg); }
  40% { transform: translate(200px, 0) rotate(45deg) scale(2); }
  40.1% { transform: translate(200px, -60px) rotate(45deg) scale(1);}
  40.2% { transform: translate(34px, -60px)rotate(45deg); }
  45% { transform: translate(34px, 0) rotate(45deg); }
  95% { transform: translate(34px, 0)rotate(45deg); }
  100% { transform: translate(0, 0) rotate(45deg);}
}
//=============================>>
// CONTACT PAGE - ANIMATION BUTTON SEND FORM
//=============================>>

//=============================>>
// HOME PAGE - ANIMATION SCROLL DOWN
//=============================>>
@keyframes scroll {
  0% {
    transform: translate(-50%, 15px);
  }
  50% {
    transform: translate(-50%, 0px);
  }
  100% {
    transform: translate(-50%, 15px);
  }
}
//=============================>>
// HOME PAGE - ANIMATION SCROLL DOWN
//=============================>>

//=============================>>
// ABOUT-ME PAGE - ANIMATION SKILLS
//=============================>>
@keyframes load {
  0% {
    stroke-dashoffset: 628;
  }
  50% {
    stroke-dashoffset: 400;
  }
  100% {
    stroke-dashoffset: 628;
  }
}
//=============================>>
// ABOUT-ME PAGE - ANIMATION SKILLS
//=============================>>