/*spinner loader*/

@keyframes hidden {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  /*apparition des bulles icones*/
  @keyframes bubble {
    from {
      opacity: 1;
      transform: translateY(70px);
      color: $Explosion-of-colored-2-hsla;
    }
    to {
      opacity: 0;
      transform: translateY(0);
      color: $Explosion-of-colored-3-hsla;
    }
  }
@keyframes move {
    0%{
        transform: translate(-30%, 0);
        text-shadow:0 25px 50px $Explosion-of-colored-4-hsla;
    }
    50%{
        text-shadow:0 25px 50px $Explosion-of-colored-3-hsla;
    }
    100%{
        transform: translate(30%, 0);
        text-shadow:0 25px 50px $Explosion-of-colored-2-hsla;
    }
}

/*spinner loader*/
