/*spinner loading*/

#spinner_loader {
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 1%);
    justify-content: center;
    align-items: center;
    display: flex;
    animation: hidden 5000ms ease-in-out forwards;
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .fa-code {
      position: absolute;
      top: -80px;
      animation: bubble 2.4s $courbe infinite;
      font-size: 1.6rem;
    }
    .fa-code-branch {
      position: absolute;
      left: 20px;
      bottom: 210px;
      animation: bubble 2.2s $courbe infinite;
      font-size: 2.6rem;
    }
    .fa-html5 {
      position: absolute;
      top: 150px;
      left: -30px;
      animation: bubble 1.8s $courbe infinite;
      font-size: 1.7rem;
    }
    .fa-css3 {
      position: absolute;
      top: 40px;
      left: -70px;
      animation: bubble 1.7s $courbe infinite;
      font-size: 1.7rem;
    }
    .fa-sass {
      position: absolute;
      bottom: -55px;
      right: 30px;
      animation: bubble 2.4s $courbe infinite;
      font-size: 1.7rem;
    }
    .fa-node-js {
      position: absolute;
      right: -40px;
      animation: bubble 1.7s $courbe infinite;
      font-size: 1.4rem;
    }
    .fa-github {
      position: absolute;
      top: -100px;
      right: -30px;
      animation: bubble 1.9s $courbe infinite;
      font-size: 1.9rem;
    }
    .fa-gitkraken {
      position: absolute;
      top: 160px;
      left: 40px;
      animation: bubble 2.1s $courbe infinite;
      font-size: 2.2rem;
    }
    .fa-discord {
      position: absolute;
      top: -70px;
      left: -140px;
      animation: bubble 2.1s $courbe infinite;
      font-size: 2.4rem;
    }
    .fa-js-square {
        position: absolute;
        top: 100px;
        right: -90px;
        animation: bubble 2s $courbe infinite;
        font-size: 2.1rem;
      }
      .fa-bootstrap {
        position: absolute;
        top: -70px;
        right: -130px;
        animation: bubble 1.8s $courbe infinite;
        font-size: 2.4rem;
      }
      .fa-vuejs {
        position: absolute;
        top: 170px;
        right: -50px;
        animation: bubble 1.9s $courbe infinite;
        font-size: 2.7rem;
      }
  }
/*name spinner loading*/  
.words1 .words2 .words3 {
    font-weight: bold;
    line-height: 1.5em;
}
.words1 {
  font-size: 3em;
    span {
      color: $Colored-powder-explosion-1-hsla;
      display: inline-block;
      animation: move 3s ease-in-out both infinite;
    }
}
.words2 {
  padding-left: 30px;
  font-size: 3em;
    span {
      color: $Colored-powder-explosion-2-hsla;
      display: inline-block;
      animation: move 3s ease-in-out both infinite;
    }
}
.words3 {
  padding-left: 60px;    
  span {
    color: $Colored-powder-explosion-4-hsla;
    display: inline-block;
    animation: move 3s ease-in-out both infinite;
  }
}

.words span:nth-child(2){
    animation-delay: 0.2s;
}
.words span:nth-child(3){
    animation-delay: 0.4s;
}
.words span:nth-child(4){
    animation-delay: 0.6s;
}
.words span:nth-child(5){
    animation-delay: 0.8s;
}
.words span:nth-child(6){
    animation-delay: 1s;
}
.words span:nth-child(7){
    animation-delay: 1.2s;
}
.words span:nth-child(8){
    animation-delay: 1.4s;
}
.words span:nth-child(9){
  animation-delay: 1.6s;
}
.words span:nth-child(10){
  animation-delay: 1.8s;
}
.words span:nth-child(11){
  animation-delay: 2s;
}
.words span:nth-child(12){
  animation-delay: 2.2s;
}
.words span:nth-child(13){
  animation-delay: 2.4s;
}
.words span:nth-child(14){
  animation-delay: 2.6s;
}

@keyframes hidden {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*apparition des bulles icones*/
@keyframes bubble {
  from {
    opacity: 1;
    transform: translateY(70px);
    color: $Explosion-of-colored-2-hsla;
  }
  to {
    opacity: 0;
    transform: translateY(0);
    color: $Explosion-of-colored-3-hsla;
  }
}
@keyframes move {
  0%{
      transform: translate(-30%, 0);
      text-shadow:0 25px 50px $Explosion-of-colored-4-hsla;
  }
  50%{
      text-shadow:0 25px 50px $Explosion-of-colored-3-hsla;
  }
  100%{
      transform: translate(30%, 0);
      text-shadow:0 25px 50px $Explosion-of-colored-2-hsla;
  }
}

/*spinner loader*/
